.nav {
    grid-area: n;
    background-color: rgb(85, 170, 139);
    padding: 20px;
  }

  .item a {
    color: rgb(81, 57, 104);
    text-decoration: none;
  }

  .item a.active {
    color: crimson;
  }

